<div class="container p-4">
    <h2 class="text-center">Blog Detail</h2>
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar *ngIf="blog.image"
                 src="http://localhost:8000/storage/{{blog.image}}" style="height: 70px;width: 70px">
            <mat-card-title>{{blog.title}}</mat-card-title>
            <mat-card-subtitle>{{blog.description}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p [innerHTML]="blog.content" >
            </p>

        </mat-card-content>
        <div  [innerHTML]="iframeHtml"
                 frameborder="0"
                 allowfullscreen></div>
        <span class="float-left pr-3 pt-1">TAG: </span>
        <mat-chip-list *ngFor="let tag of tags" style="float: left; padding-right: 10px">
            <mat-chip [routerLink]="['/home/blog-tag/',tag]">{{tag}}</mat-chip>
        </mat-chip-list>

        <mat-card-actions style="clear: both;">
            <div>
                <share-buttons class="float-right pb-2" [theme]="'default'"
                               [include]="['facebook','email']"
                               [show]="2"
                               [showIcon]="true"
                               [showText]="true"
                               [size]="2"
                               [autoSetMeta]="true"
                ></share-buttons>
                <button class="btn btn-outline-primary" [routerLink]="['/home/blog-update/', blog.id]">EDIT</button>
            </div>
        </mat-card-actions>
        <button mat-raised-button color="primary" (click)="changeStatus($event)" [routerLink]="['comments/', blog.id]">Comment</button>
        <router-outlet *ngIf="status" ></router-outlet>

    </mat-card>

</div>
