<div class="container">
    <h2 class="text-center">Blog Update</h2>
    <form [formGroup]="blogUpdateForm" (ngSubmit)="updateBlog()">
        <img src="http://localhost:8000/storage/{{blog.image}}" style="width: 100%; height: 400px" class="img-thumbnail">
        <mat-form-field >
            <input matInput type="text" value="{{blog.title}}" placeholder="Blog Title" formControlName="title">
        </mat-form-field>

        <mat-form-field >
            <input matInput type="text" value="{{blog.description}}" placeholder="Blog Description" formControlName="description">
        </mat-form-field>
        <p>Blog Content</p>
        <ckeditor [editor]="Editor" data="{{blog.content}}" formControlName="contents"></ckeditor>
        <input type="file" (change)="selectFile($event)">
        <mat-form-field class="example-chip-list">
            <mat-chip-list #tagList>
                <mat-chip
                        *ngFor="let tag of tags"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                        placeholder="Add Tag ..."
                        #tagInput
                        [formControl]="tag"
                        [matChipInputFor]="tagList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)"
                        [matAutocomplete]="auto">
            </mat-chip-list>
            <mat-autocomplete #auto (optionSelected)=selected($event)>
                <mat-option *ngFor="let tag of allTags" [value]="tag" >
                    {{tag.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <button type="submit" class="float-right">Update</button>
    </form>

</div>
