<mat-sidenav-container style="height: 590px">
    <mat-sidenav [(opened)]="opened" style="width: 200px;margin-right: 10px; background-color: dodgerblue;" mode="side">
        <div class="card">
            <img src="http://localhost:8000/storage/{{user.image}}" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
                <p class="card-text">Welcome {{user.name}}</p>
            </div>
        </div>
        <mat-list>
            <mat-list-item routerLink="profile" class="text-light border-top border-bottom">
                <mat-icon class="mr-2" routerLink="profile">home</mat-icon>
                My Profile
            </mat-list-item>
            <mat-list-item routerLink="blogs" class="text-light border-bottom">
                <mat-icon class="mr-2" routerLink="blogs">folder</mat-icon>
                Blogs
            </mat-list-item>
            <mat-list-item routerLink="create-blog" class="text-light border-bottom">
                <mat-icon class="mr-2" routerLink="create-blog">create</mat-icon>
                Create-Blog
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-mini-fab color="primary" (click)="opened = !opened" style="position: absolute; z-index: 3">
            <mat-icon>list</mat-icon>
        </button>
        <router-outlet style="position: relative"></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
