<div class="container-fluid pt-0">
  <h2 class="text-center">My Profile</h2>
  <div class="col">
    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-4" *ngIf="user.image">
          <img src="http://localhost:8000/storage/{{user.image}}" class="card-img" style="height: 280px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Name: {{user.name}}</h5>
            <p class="card-text">Email: {{user.email}}</p>
            <p class="card-text">Day of birth: {{user.dob}}</p>
            <p class="card-text">Phone: {{user.phone}}</p>
            <p class="card-text">Address: {{user.address}}</p>
          </div>
          <button class="btn btn-outline-primary ml-2" routerLink="/home/profile-update">Update Profile</button>
          <button class="btn btn-outline-primary ml-2" routerLink="/home/change-password">Change Password</button>
        </div>
      </div>
    </div>
  </div>

</div>
