<div class="pt-2">
  <div class="card" style="background-color: aquamarine">
    <img src="../../assets/image/4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This is a profile image</p>
    </div>
  </div>
    <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action" routerLink="profile">My Profile</button>
      <button type="button" class="list-group-item list-group-item-action" routerLink="home">Blogs</button>
      <button type="button" class="list-group-item list-group-item-action">#</button>
      <button type="button" class="list-group-item list-group-item-action">#</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>#</button>
    </div>
</div>
