<form [formGroup]="blogCreateForm" class="container-fluid form-group pt-0 bg-light" (ngSubmit)="create()"
      enctype="multipart/form-data" novalidate>
    <h2 class="text-center">Create Blog</h2>

    <mat-form-field style="width: 100%">
        <label for="title"></label>
        <input matInput type="text" id="title" placeholder="Blog Title" formControlName="title" [errorStateMatcher]="matcher">
        <mat-error *ngIf="blogCreateForm.controls.title.hasError('required')">
            Blog Title required
        </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <label for="content"></label>
        <textarea matInput id="content" rows="2" formControlName="content" placeholder="Blog Content" [errorStateMatcher]="matcher"></textarea>
        <mat-error *ngIf="blogCreateForm.controls.content.hasError('required')">
            Blog Content required
        </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <label for="Description"></label>
        <textarea matInput id="Description" rows="3" formControlName="description"
                  placeholder="Blog Description" [errorStateMatcher]="matcher"></textarea>
        <mat-error *ngIf="blogCreateForm.controls.description.hasError('required')">
            Blog Description required
        </mat-error>
    </mat-form-field>
    <div class="form-group" style="width: 30%">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" formControlName="image" (change)="uploadFile($event)">
        <mat-error *ngIf="blogCreateForm.controls.image.hasError('required')">
            Image required
        </mat-error>
    </div>

    <button type="submit" class="btn btn-outline-primary float-right">Create Blog</button>
</form>
