    <mat-form-field class="col-11 offset-1" [hidden]="hidden">
      <textarea matInput placeholder="Leave a reply here" [formControl]="body"></textarea>
        <mat-error *ngIf="body.hasError('required')">Body Required</mat-error>
    </mat-form-field>
    <div class="col-2 offset-10">
      <button mat-raised-button type="submit" color="primary" (click)="reply()" [hidden]="hidden" >Reply</button>
    </div>
    <mat-card class="col-11 offset-1" *ngFor="let rep of replies">
        <mat-card-header>
            <img mat-card-avatar *ngIf="user.image"
                 src="http://localhost:8000/storage/{{user.image}}"
                 style="background-size: cover">
            <mat-card-title>{{user.name}}</mat-card-title>
            <mat-card-subtitle>Created_at: {{rep.created_at}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{rep.body}}
            </p>
        </mat-card-content>
        <mat-form-field class="col-11 offset-1" [hidden]="!hidden">
            <textarea matInput placeholder="Leave a reply here" [formControl]="body"></textarea>
            <mat-error *ngIf="body.hasError('required')">Body Required</mat-error>
        </mat-form-field>
        <div class="col-2 offset-10">
            <button mat-raised-button type="submit" color="primary" (click)="reply()" [hidden]="!hidden" >Reply</button>
        </div>
    </mat-card>
