<div class="container-fluid">
    <div class="row" *ngFor="let blog of blogs">
        <div class="col-10 offset-1">
            <div class="card mb-3">
                <img src="http://localhost:8000/storage/{{blog.image}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Blog title: {{blog.title}}</h5>
                    <p class="card-text">Blog Content: {{blog.content}}</p>
                    <p class="card-text">Blog Description: {{blog.description}}</p>
                    <button class="btn btn-outline-danger" (click)="delete(blog.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>
